body {
    font-family: cursive; /* Somente a fonte */
    background-image: linear-gradient(90deg, rgb(0, 17, 255), rgb(255, 0, 170)); /* Degrade do fundo do site */
}

.tela-login {
    background-color: rgba(0, 0, 0, 0.8); /* Dar um fundo para a div. */
    position: absolute; /* Deixar o fundo da Div do mesmo tamanho da propria div. */
    top: 50%; /* Distancia do topo de 50%. */
    left: 50%; /* Distancia da esquerda de 50%. */
    transform: translate(-50%, -50%); /* Voltar um pouco para alinhar corretamente no meio. */
    padding: 80px; /* Distancia entre os elementos e a borda. */
    border-radius: 35px; /* Arredondar as bordas. */
    color: white;
}

input {
    padding: 20px; /* Distancia entre os elementos e a borda. */
    border: none; /* Remover as bordas da div e deixar quadrada. */
    outline: none; /* Remover a linha que fica em volta do input. */
    font-size: 15px;
}

button {
    background-color: rgb(108, 0, 197); /* Cor do fundo do botão. */
    border: none;
    padding: 15px;
    width: 100%; /* Largura */
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer; /* Colocar o cursor de mãozinha, usado para links em geral. */
}

button:hover { /* Quando houver o contato do mouse com o botão: */
    background-color: rgb(17, 0, 253); /* Trocar a cor de fundo para Azul. */
}